@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700,900');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,300,400,500,600,700,800');

@charset "EUC-KR";
.mcontainer {
  background: #fff;
  margin-top: 10px;
  padding: 10px;
}
/* clearfix */
.mcontainer:before,
.mcontainer:after {
    content: "";
    display: table;
}
.mcontainer:after {
    clear: both;
}

.item {
  float: left;
  margin-bottom: 10px; 
}
.item img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: bottom;
}
.first-item {
  clear: both;
}
/* remove margin bottom on last row */
.last-row, .last-row ~ .item {
  margin-bottom: 0;
}

*, *:before, *:after {
	box-sizing: border-box !important;
}
body  {
	color: #6b6b6b;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 24px;
}

.profilebox1 {
/* 	background-image: url("https://image.ibb.co/kzeSqw/lunch1.jpg"); */
	background-position: center center;
	background-size: cover;	
	perspective: 450px;
	position: relative;
	
}
.profilebox .SocialIcons {
	display: flex;
	flex-direction: column;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 10px;
	transform: rotateY(90deg);
	transform-origin: left center 0;
	transition: all 350ms ease;
	
}
.profilebox .SocialIcons a {
	background: #2e2e2e none repeat scroll 0 0;
	font-size: 15px;
	height: 40px;
	margin-bottom: 1px;
	position: relative;
	text-align: center;
	width: 40px;
	opacity: 0.5;
}



.profilebox .SocialIcons a i {
	left: 50%;

	position: absolute;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	
}
.profilebox .SocialIcons a:nth-child(1) {
}
.profilebox .SocialIcons a:nth-child(2) {
}
.profilebox .SocialIcons a:nth-child(3) {
}
.profilebox:hover .SocialIcons {
	opacity: 1;
	left: 15px;
	transform: rotateY(0deg);
	
}
.profilebox .profileInfo {
	background: #2e2e2e none repeat scroll 0 0;
	bottom: 0;
	height: 30px;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	width: 90%;
	transform: rotatex(90deg);
	transform-origin: bottom center 0;
	transition: all 350ms ease;
	opacity: 0;

}
.profilebox .profileInfo h3 {
	font-size: 20px;
	margin: 0px 0;
	text-align: center;
	opacity: 0.7;
	
}
.profilebox:hover .profileInfo {
	opacity: 0.5;
	bottom: 15px;
	transform: rotatex(0deg);
}

.window1{
	vertical-align: middle;
	text-align: center;
}

.btn22 {
min-height: 4em;
min-width: 90%;
border:0px solid #ebb7b7; 
-webkit-border-radius: 13px; 
-moz-border-radius: 13px;
border-radius: 13px;
font-size:30px;
font-family:helvetica, sans-serif; 
padding: 10px 10px 10px 10px; 
text-decoration:none; 
display:inline-block;
text-shadow: 2px 2px 0 rgba(158,131,96,0.3);
font-weight:bold; 
color: #696443;
 background-color: #f7e3e3; 
 background-image: -webkit-gradient(linear, left top, left bottom, from(#f7e3e3), to(#ffd7d7));
 background-image: -webkit-linear-gradient(top, #f7e3e3, #ffd7d7);
 background-image: -moz-linear-gradient(top, #f7e3e3, #ffd7d7);
 background-image: -ms-linear-gradient(top, #f7e3e3, #ffd7d7);
 background-image: -o-linear-gradient(top, #f7e3e3, #ffd7d7);
 background-image: linear-gradient(to bottom, #f7e3e3, #ffd7d7);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f7e3e3, endColorstr=#ffd7d7);
}

.btn22:hover {
 border:0px solid #e09494;
 background-color: #ecbbbb; background-image: -webkit-gradient(linear, left top, left bottom, from(#ecbbbb), to(#FFB3B3));
 background-image: -webkit-linear-gradient(top, #ecbbbb, #FFB3B3);
 background-image: -moz-linear-gradient(top, #ecbbbb, #FFB3B3);
 background-image: -ms-linear-gradient(top, #ecbbbb, #FFB3B3);
 background-image: -o-linear-gradient(top, #ecbbbb, #FFB3B3);
 background-image: linear-gradient(to bottom, #ecbbbb, #FFB3B3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ecbbbb, endColorstr=#FFB3B3);
}

.btn22:focus{
	outline:none;
}
